:root {
  --border-color: var(--hl);
  --border-base: 0 solid var(--border-color);
  --border-gradient: radial-gradient(transparent 30%, var(--hl) 140%) 1;

  @media print {
    --border-color: black;
    --border-gradient: none;
  }
}

@media screen and (min-width: 640px) {
  html {
    border: var(--border-base);
    border-width: 0 2px;
  }

  header {
    &::after {
      border: var(--border-base);
      border-width: 2px 0 0;
    }
  }
}

header {
  h1 {
    margin: 0;
    padding: 2rem;
    border: var(--border-base);
    border-width: 0 2px 0 0;
  }

  p {
    margin: 0;
    padding: 0 2em 2em;
    border: var(--border-base);
    border-width: 0 2px 0 0;
  }
}

.contact {
  border: var(--border-base);
  border-width: 2px 0 0 2px;

  h2 {
    border-width: 0;
  }
}

section {
  border: var(--border-base);
  border-width: 2px 0 0 0;

  article {
    overflow: auto;
    margin-right: 3rem;
    margin-left: 2rem;

    &:first-child {
      border: var(--border-base);
      border-width: 2px 2px 0 0;
      margin-left: 0;
    }

    &:nth-child(odd) {
      border: var(--border-base);
      border-width: 2px 2px 0 0;
    }

    &:nth-child(even) {
      border: var(--border-base);
      border-width: 2px 0 0 2px;
    }
  }
}
