:root {
    --border-color: var(--hl);
    --border-gradient: radial-gradient(transparent 30%, var(--hl) 140%);

    @media print {
        --border-color: black;
        --border-gradient: none;
    }
}

@mixin b($widths) {
    border: 0 solid var(--border-color);
    border-image: var(--border-gradient) 1;
    border-width: $widths;
}

@media screen and (min-width: 640px) {
    html {
        @include b(0 2px);
    }
}

h2 {
    @include b(0 0 0 2px);
    margin: 0;
    padding: 1rem;
}

.contact {
    @include b(2px 0 0 2px);

    h2 {
        border-width: 0;
    }
}

section {
    @include b(2px 0 0 0);

    article {
        overflow: auto;
        margin-right: 3rem;
        margin-left: 2rem;

        &:first-of-type {
            @include b(2px 2px 0 0);
            margin-left: 0;
        }

        &:nth-child(even) {
            @include b(2px 2px 0 0);
        }

        &:nth-child(odd) {
            @include b(2px 0 0 2px);
        }
    }
}