:root {
  --text: #e0e0e0;
  --link-text: #cbe9e9;
  --title-text: var(--hl);
}

body {
  font-family: "JetBrains Mono", monospace;
  line-height: 2em;
  color: var(--text);
}

a {
  color: var(--link-text);
}

h1,
h2,
h3 {
  color: var(--title-text);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}
